In [1]:
import requests, json
import pandas as pd
from config import google_key
from pprint import pprint
from sqlalchemy import create_engine
import time
import pymysql

In [2]:
location = []
price = []
name=[]
rating = []
def append_to_list(*args):
    for result in args:
        for item in result["results"]:
            name.append(item["name"])
            rating.append(item["rating"])
            location.append(item["vicinity"])
            try:
                price.append(item["price_level"])
            except:
                price.append(None)
    return name,price, rating, location

In [3]:
# get geocode of Toronto
geocode_base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
city = "New York"
parameters = {
    "address": city,
    "key":google_key
}
geo_results = requests.get(geocode_base_url, parameters).json()
lat = geo_results['results'][0]['geometry']['location']['lat']
lng = geo_results['results'][0]['geometry']['location']['lng']


# update paremeters
parameters["location"]= f"{lat},{lng}"
parameters["type"] = "restaurant"
parameters["radius"] = "30000"

# With geocode find restaurants in toronto, only give me 20 so use token to get further.
nearby_search_base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
first_results = requests.get(nearby_search_base_url, parameters).json()

In [4]:
time.sleep(3)
# wnd page:Getting next 20 results using token
parameters["pagetoken"] = first_results["next_page_token"]
second_results = requests.get(nearby_search_base_url,parameters).json()

In [5]:
time.sleep(3)
# 3rd page using next_page_token
parameters["pagetoken"] = second_results["next_page_token"]
third_results = requests.get(nearby_search_base_url,parameters).json()
name,price, rating, location = append_to_list(first_results, second_results, third_results)

In [6]:
price_level = []
phone_number = []
for restaurant in name:
    # use separate parameter dictionary b.c. findplace and findplacedetail have diff field.
    find_place_param ={}
    find_place_param["input"] = restaurant
    find_place_param["inputtype"] = "textquery"
    find_place_param["key"] = google_key
    find_place_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?"
    # get place_id then use it to get more detailed info (phone_number)
    a = requests.get(find_place_url, find_place_param).json()
    
    # adding it to original parameter. since only this and findplace parameter has to be different b.c. overlapping field.
    try:
        parameters["place_id"] = a["candidates"][0]["place_id"]
        
    except:
        print("More details not available")
        phone_number.append(None)
        price_level.append(None)
        
    # executed only if try works.     
    else:
        # passing in fields of our interest
        parameters["fields"] = "name,price_level,formatted_phone_number"
        find_place_detail_url ="https://maps.googleapis.com/maps/api/place/details/json?"
        b = requests.get(find_place_detail_url, parameters).json()
        # even if place_id is found and called succesfuly some do not have phone number      
        try:
            phone_number.append(b["result"]["formatted_phone_number"])
        except KeyError:
            phone_number.append(None)
        try:
            price_level.append(b["result"]['price_level'])
        except KeyError:
            price_level.append(None)
            
        # Q: is it a good practice to do try except multiple times?

More details not available
More details not available
More details not available
More details not available
More details not available
More details not available
More details not available
More details not available
More details not available
More details not available
More details not available
More details not available
More details not available
More details not available
More details not available
More details not available
More details not available
More details not available
More details not available
More details not available

In [7]:
# just checking to see if all list have same number of items.
print(len(name),
     len(rating),
     len(location),
     len(price),
     len(price_level),
     len(phone_number))

60 60 60 60 60 60

In [8]:
# Create data frame with created lists
df = pd.DataFrame({"name":name,
                  "rating":rating,
                  "address":location,
                  "price":price})
df = df.loc[df["rating"]>4.0]
df.reset_index(drop=True,inplace=True)

In [9]:
# change price to $ signs
df["price"]=df["price"].replace(1.0, "$")
df["price"]=df["price"].replace(2.0, "$$")
df["price"]=df["price"].replace(3.0, "$$$")
df

,name,rating,address,price
0,Sofitel New York,4.4,"45 West 44th Street, New York",$$$
1,Loews Regency New York,4.4,"540 Park Avenue, New York",NaN
2,The Lowell Hotel,4.6,"28 East 63rd Street, at Madison Ave, New York",$$$
3,The Mark Hotel,4.5,"25 East 77th Street, New York",NaN
4,Shake Shack,4.3,"366 Columbus Avenue, New York",$$
5,ABC Kitchen,4.4,"35 East 18th Street, New York",$$$
6,Maialino,4.4,"2 Lexington Avenue, New York",$$$
7,Inn At Great Neck,4.2,"30 Cuttermill Road, Great Neck",NaN
8,Extra Virgin,4.2,"259 West 4th Street, New York",$$
9,The Mermaid Inn,4.3,"96 2nd Avenue, New York",$$
10,Connolly's Pub & Restaurant,4.3,"121 West 45th Street, New York",$$
11,Lugo Cucina,4.2,"1 Pennsylvania Plaza, New York",$$
12,Lucky Strike Manhattan,4.2,"624-660 West 42nd Street, New York",$$$
13,Miss Lily's,4.2,"132 West Houston Street, New York",$$
14,48 Lounge,4.3,"1221 AVENUE OF THE AMERICAS, West 48th Street,...",$$$
15,Casa Mezcal,4.3,"86 Orchard Street, New York",$$
16,Brooklyn Diner USA,4.1,"212 West 57th Street, New York",$$$
17,Artichoke Basille's Pizza,4.3,"111 Macdougal Street, New York",$$
18,Gyu-Kaku Japanese BBQ,4.4,"805 3rd Avenue #2, New York",$$
19,Doughnut Plant,4.5,"379 Grand Street, New York",$$
20,Robert,4.5,"2 Columbus Circle, New York",$$$
21,Tamarind Tribeca,4.4,"99 Hudson Street, New York",$$$
22,King's Plaza Shopping Center,4.2,"5100 Kings Plaza, Brooklyn",NaN
23,American Girl Place New York,4.4,"75 Rockefeller Plaza, New York",$$
24,Gyu-Kaku Japanese BBQ,4.5,"34 Cooper Square, New York",$$
25,Olive Garden Italian Restaurant,4.3,"500 New Jersey 3, Secaucus",$$
26,Terroir Tribeca,4.4,"24 Harrison Street, New York",$$
27,Sweet Afton,4.4,"30-09 34th Street, Astoria",$$
28,Di Fara Pizza,4.3,"1424 Avenue J, Brooklyn",$$
29,Hide-Chan,4.3,"248 East 52nd Street Fl 2, New York",$
30,LuAnne's Wild Ginger,4.5,"112 Smith Street, Brooklyn",$$
31,The River Café,4.4,"1 Water Street, Brooklyn",4
32,Poco,4.1,"33 Avenue B, New York",$$
33,Chart House,4.5,"Lincoln Harbor Pier D-T, Weehawken",$$$
34,The Standard Biergarten,4.1,"The Standard, High Line, 848 Washington Street...",$$
35,Piquant,4.1,"259 Flatbush Avenue, Brooklyn",$$
36,Jazz Standard,4.6,"116 East 27th Street, New York",$$
37,Paulie Gee's,4.6,"60 Greenpoint Avenue, Brooklyn",$$
38,Junoon,4.2,"27 West 24th Street, New York",$$$
39,Bareburger,4.3,"514 3rd Avenue, New York",$$

In [10]:
df.to_csv("datas/best_rest_NewYork.csv")

In [11]:
# necessary for pymysql
pymysql.install_as_MySQLdb()
engine = create_engine("mysql://root:Gksmf12#@localhost/restaurant_review")

# df into sql
# if you don't have table it will create it for you and specify types.
df.to_sql(
    name="google",
    con=engine,
    if_exists="append"
)