In [ ]:
# Project 2 - Yelp API

In [1]:
!pip install yelpapi

Requirement already satisfied: yelpapi in /anaconda3/lib/python3.7/site-packages (2.3.0)
Requirement already satisfied: requests in /anaconda3/lib/python3.7/site-packages (from yelpapi) (2.21.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/lib/python3.7/site-packages (from requests->yelpapi) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /anaconda3/lib/python3.7/site-packages (from requests->yelpapi) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/lib/python3.7/site-packages (from requests->yelpapi) (2018.11.29)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /anaconda3/lib/python3.7/site-packages (from requests->yelpapi) (1.24.1)

In [2]:
# Dependencies and Setup
import requests
import json
# Import API key
from api_keys import api_key

#----
import pandas as pd
import time
import pprint  
import datetime

In [3]:
api_key='QWMy8-jFwxoKJkLNvzLl-jDymYjp-bN83izdcDMb91a3JG5h_8XRcjYNWWSXYhKjo0cPdnC_UdrnlAaap6kwUqa3Cqm2dCU202lvbXL3AkUqJ_m7PQAFKlqnvmGyXHYx'

headers = {'Authorization': 'Bearer %s' % api_key}

In [4]:
url='https://api.yelp.com/v3/businesses/search'

# 1) Toronto

In [7]:
# Perform API Calls - test with one restaurant 

params_to = {'term':'restaurant',
     'location':'Toronto', 
     'sort_by': 'rating',        
     'limit':'50'}

In [8]:
request=requests.get(url, params=params_to, headers=headers)
print('The status code is {}'.format(request.status_code))

The status code is 200

In [9]:
#Convert the data into a JSON object
parsed_to = json.loads(request.text)
toronto = parsed_to["businesses"]

In [11]:
#“businesses” is a list, enclosed by a square brackets.
# extract businesses first into a Python list and then loop over the businesses in the list.
count = 1
name = []
address = []
city = []
stars = []
category = []
cost = []
review_count = []

for business in toronto:
    #print("Number:", count)
    #print("Name:", business["name"])
    #print("Address:", " ".join(business["location"]["display_address"]))
    #print("City:", " ".join(business["location"]["city"]))
    #print("Rating:", business["rating"])
    #print("Category:", business["categories"])
        
    #if 'price' in business:
    #    print("Cost:", business["price"])
    #
    #print("\n")
    #print("Review Count:", business["review_count"])
    
    name.append(business["name"])
    address.append(business["location"]["display_address"])
    city.append(business["location"]["city"])
    stars.append(business["rating"])
    category.append(business["categories"])
    
    if 'price' in business:
        cost.append(business["price"])
    else:
        cost.append("")
    review_count.append(business["review_count"])

    count = count+1

In [12]:
#Display the DataFrame

df_to = pd.DataFrame(data={"Restaurant Name": name, "Restaurant Address": address, "Restaurant City": city, "Stars":
                       stars, "Category": category, "Cost": cost, "Review Count": review_count})
df_to
#df_sort_ny = df_ny.sort_values(by=['Review Count'], ascending=False)
#df_sort_ny

,Restaurant Name,Restaurant Address,Restaurant City,Stars,Category,Cost,Review Count
0,Baretto Caffe,"[1262 Don Mills Road, Toronto, ON M3B 2W7, Can...",Toronto,5.0,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",$,293
1,Yasu,"[81 Harbord Street, Toronto, ON M5S, Canada]",Toronto,4.5,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",$$$$,328
2,Alo Restaurant,"[163 Spadina Avenue, 3rd Floor, Toronto, ON M5...",Toronto,4.5,"[{'alias': 'bars', 'title': 'Bars'}, {'alias':...",$$$$,250
3,Blaze Fast-Fire'd Pizza,"[10 Dundas Street East, #124, Toronto, ON M5B ...",Toronto,4.5,"[{'alias': 'pizza', 'title': 'Pizza'}, {'alias...",$$,467
4,Veghed,"[1199 Dundas Street W, Toronto, ON M6J 1X3, Ca...",Toronto,5.0,"[{'alias': 'vegan', 'title': 'Vegan'}, {'alias...",$$,60
5,Jacobs & Co. Steakhouse,"[12 Brant Street, Toronto, ON M5V 1K4, Canada]",Toronto,4.5,"[{'alias': 'steak', 'title': 'Steakhouses'}]",$$$$,507
6,El Nahual,"[1993 Keele Street, York, ON M6M 3Y3, Canada]",York,4.5,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",$,99
7,Seven Lives Tacos Y Mariscos,"[69 Kensington Avenue, Toronto, ON M5T 2K2, Ca...",Toronto,4.5,"[{'alias': 'mexican', 'title': 'Mexican'}]",$,1215
8,Richmond Station,"[1 Richmond Street W, Toronto, ON M5H 3W4, Can...",Toronto,4.5,"[{'alias': 'newcanadian', 'title': 'Canadian (...",$$$,676
9,Pai Northern Thai Kitchen,"[18 Duncan Street, Toronto, ON M5H 3G8, Canada]",Toronto,4.5,"[{'alias': 'thai', 'title': 'Thai'}]",$$,2360
10,Mystic Muffin,"[113 Jarvis Street, Toronto, ON M5C 2H4, Canada]",Toronto,4.5,"[{'alias': 'sandwiches', 'title': 'Sandwiches'...",$,249
11,Byblos,"[11 Duncan Street, Toronto, ON M5V 3M2, Canada]",Toronto,4.5,"[{'alias': 'mediterranean', 'title': 'Mediterr...",$$$,740
12,Scaramouche Restaurant Pasta Bar & Grill,"[1 Benvenuto Place, Toronto, ON M4V 2L1, Canada]",Toronto,4.5,"[{'alias': 'french', 'title': 'French'}, {'ali...",$$$$,266
13,Her Father's Cider Bar & Kitchen,"[119 Harbord Street, Toronto, ON M5S 1G7, Canada]",Toronto,4.5,"[{'alias': 'gastropubs', 'title': 'Gastropubs'...",$$,132
14,Adamson Barbecue,"[176 Wicksteed Avenue, Toronto, ON M4G 2B6, Ca...",Toronto,4.5,"[{'alias': 'bbq', 'title': 'Barbeque'}]",$$,231
15,Antler Kitchen & Bar,"[1454 Dundas Street West, Toronto, ON M6J 1Y6,...",Toronto,4.5,"[{'alias': 'newcanadian', 'title': 'Canadian (...",$$$,220
16,Agio,"[1351 St Clair Avenue W, Toronto, ON M6E 1C5, ...",Toronto,4.5,"[{'alias': 'italian', 'title': 'Italian'}]",$$,161
17,Ramen Isshin,"[421 College Street, Toronto, ON M5T 1T1, Canada]",Toronto,4.5,"[{'alias': 'ramen', 'title': 'Ramen'}]",$$,544
18,A-Game Cafe,"[797 Dundas Street W, Toronto, ON M6J 1V2, Can...",Toronto,4.5,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",$,89
19,Descendant Detroit Style Pizza,"[1168 Queen Street E, Toronto, ON M4M 1L5, Can...",Toronto,4.5,"[{'alias': 'pizza', 'title': 'Pizza'}]",$$,274
20,Fresco's Fish & Chips,"[201 Augusta Avenue, Toronto, ON M5T 2L4, Canada]",Toronto,4.5,"[{'alias': 'fishnchips', 'title': 'Fish & Chip...",$$,327
21,Café Polonez,"[195 Roncesvalles Avenue, Toronto, ON M6R 2L5,...",Toronto,4.5,"[{'alias': 'polish', 'title': 'Polish'}]",$$,231
22,Schnitzel Queen,"[211 Queen Street E, Toronto, ON M5A 1S5, Canada]",Toronto,4.5,"[{'alias': 'german', 'title': 'German'}, {'ali...",$$,87
23,Banh Mi Boys,"[392 Queen Street W, Toronto, ON M5V 2A9, Canada]",Toronto,4.5,"[{'alias': 'sandwiches', 'title': 'Sandwiches'}]",$,1068
24,Tibet Kitchen,"[1544 Queen Street W, Toronto, ON M6R 1A6, Can...",Toronto,4.5,"[{'alias': 'himalayan', 'title': 'Himalayan/Ne...",$$,234
25,Crepe TO,"[52 Church Street, Toronto, ON M5C 3C8, Canada]",Toronto,4.5,"[{'alias': 'creperies', 'title': 'Creperies'}]",$$,73
26,Katsuya,"[66 Gerrard Street E, Unit 100, Toronto, ON M5...",Toronto,4.5,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",$$,315
27,Sugo,"[1279 Bloor Street W, Toronto, ON M6H 3Y2, Ca...",Toronto,4.5,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",$$,96
28,Riddle Room,"[579 Yonge Street, 2nd Floor, Toronto, ON M4Y ...",Toronto,4.5,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",$,161
29,Beach Hill Smokehouse,"[172 Main Street S, Toronto, ON M4E 2W1, Canada]",Toronto,4.5,"[{'alias': 'bbq', 'title': 'Barbeque'}, {'alia...",$$,73
30,Takht-e Tavoos,"[1120 College Street, Toronto, ON M6H 1B5, Can...",Toronto,4.5,"[{'alias': 'persian', 'title': 'Persian/Irania...",$$,120
31,Rasa,"[196 Robert Street, Toronto, ON M5S 2K8, Canada]",Toronto,4.5,"[{'alias': 'newcanadian', 'title': 'Canadian (...",$$,226
32,Veggie D'Light,"[160 Baldwin Street, Unit 3, Toronto, ON M5T 3...",Toronto,4.5,"[{'alias': 'caribbean', 'title': 'Caribbean'},...",$,62
33,Saigon Lotus,"[6 St Andrew Street, Toronto, ON M5T 1K6, Canada]",Toronto,4.5,"[{'alias': 'vietnamese', 'title': 'Vietnamese'...",$$,150
34,Salus Fresh Foods,"[25 Carlton Street, Unit D, Toronto, ON M5B 1L...",Toronto,4.5,"[{'alias': 'salad', 'title': 'Salad'}, {'alias...",$,55
35,Ravi Soups,"[322 Adelaide Street W, Toronto, ON M5V 1R1, C...",Toronto,4.5,"[{'alias': 'sandwiches', 'title': 'Sandwiches'...",$$,342
36,Le Baratin,"[1600 Dundas Street. W, Toronto, ON M6K 1T8, C...",Toronto,4.5,"[{'alias': 'french', 'title': 'French'}]",$$,85
37,Black Camel,"[4 Crescent Road, Toronto, ON M4W 1S9, Canada]",Toronto,4.5,"[{'alias': 'sandwiches', 'title': 'Sandwiches'}]",$,324
38,I'll Be Seeing You,"[747 Queen Street E, Toronto, ON M4M 1H3, Canada]",Toronto,5.0,"[{'alias': 'cocktailbars', 'title': 'Cocktail ...",$$,39
39,Loga's Corner,"[216C Close Avenue, Toronto, ON M6K 2V5, Canada]",Toronto,4.5,"[{'alias': 'himalayan', 'title': 'Himalayan/Ne...",$,99
40,Miku,"[105-10 Bay Street, Toronto, ON M5J 2R8, Canada]",Toronto,4.0,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",$$$,672
41,The Olde Yorke,"[96 Laird Drive, East York, ON M4G 3V3, Canada]",East York,4.5,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",$$,231
42,COO Café Bread or Rice,"[1049 Bloor Street W, Toronto, ON M6H 1M4, Can...",Toronto,4.5,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",$$,68
43,Pow Wow Cafe,"[213 Augusta Avenue, Toronto, ON M5T 2L4, Canada]",Toronto,4.5,"[{'alias': 'newcanadian', 'title': 'Canadian (...",$$,101
44,KINKA IZAKAYA ORIGINAL,"[398 Church St, Toronto, ON M5B 2A2, Canada]",Toronto,4.0,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",$$,1492
45,Rustle & Still Café,"[605 Bloor Street W, Toronto, ON M6G 1K6, Canada]",Toronto,4.5,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",$,79
46,Nuit Social,"[1168 Queen Street W, Toronto, ON M6J 1J5, Can...",Toronto,4.5,"[{'alias': 'cocktailbars', 'title': 'Cocktail ...",$$,194
47,George,"[111 Queen Street E, Toronto, ON M5C 1S2, Canada]",Toronto,4.5,"[{'alias': 'newcanadian', 'title': 'Canadian (...",$$$$,246
48,Hodo Kwaja,"[656 Bloor Street W, Toronto, ON M6G 1K9, Canada]",Toronto,4.5,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",$,196
49,Momo Hut & Gardens,"[401 Danforth Avenue, Danforth, Toronto, ON M4...",Toronto,5.0,"[{'alias': 'himalayan', 'title': 'Himalayan/Ne...",,40

In [13]:
#Save to a CSV all data retrieved
#df_sort_ny.to_csv("NewYork.csv", sep=',',index=False)
df_to.to_csv("Toronto.csv", sep=',',index=False)

# 2) New York

In [14]:
# Perform API Calls - test with one restaurant 

params_ny = {'term':'restaurant',
     'location':'New York', 
     'sort_by': 'rating',        
     'limit':'50'}

In [15]:
request=requests.get(url, params=params_ny, headers=headers)
print('The status code is {}'.format(request.status_code))

The status code is 200

In [16]:
#Convert the data into a JSON object
parsed_ny = json.loads(request.text)
newyork = parsed_ny["businesses"]

In [17]:
#print parsed to get an idea how it looks like
#print(json.dumps(parsed_ny, indent=4))

In [18]:
#“businesses” is a list, enclosed by a square brackets.
# extract businesses first into a Python list and then loop over the businesses in the list.
count = 1
name = []
address = []
city = []
stars = []
category = []
cost = []
review_count = []

for business in newyork:
    #print("Number:", count)
    #print("Name:", business["name"])
    #print("Address:", " ".join(business["location"]["display_address"]))
    #print("City:", " ".join(business["location"]["city"]))
    #print("Rating:", business["rating"])
    #print("Category:", business["categories"])
        
    #if 'price' in business:
    #    print("Cost:", business["price"])
    #
    #print("\n")
    #print("Review Count:", business["review_count"])
    
    name.append(business["name"])
    address.append(business["location"]["display_address"])
    city.append(business["location"]["city"])
    stars.append(business["rating"])
    category.append(business["categories"])
    
    if 'price' in business:
        cost.append(business["price"])
    else:
        cost.append("")
    review_count.append(business["review_count"])

    count = count+1

In [19]:
#Display the DataFrame

df_ny = pd.DataFrame(data={"Restaurant Name": name, "Restaurant Address": address, "Restaurant City": city, "Stars":
                       stars, "Category": category, "Cost": cost, "Review Count": review_count})
df_ny
#df_sort_ny = df_ny.sort_values(by=['Review Count'], ascending=False)
#df_sort_ny

,Restaurant Name,Restaurant Address,Restaurant City,Stars,Category,Cost,Review Count
0,Otis,"[18 Harrison Pl, Brooklyn, NY 11206]",Brooklyn,5.0,"[{'alias': 'newamerican', 'title': 'American (...",$$,172
1,The Alcove,"[41-11 49th St, Sunnyside, NY 11104]",Sunnyside,5.0,"[{'alias': 'gastropubs', 'title': 'Gastropubs'...",$$,678
2,Taste of Heaven,"[251 Jackson St, Brooklyn, NY 11211]",Brooklyn,5.0,"[{'alias': 'soulfood', 'title': 'Soul Food'}]",$$,99
3,Korai Kitchen,"[576 Summit Ave, Jersey City, NJ 07306]",Jersey City,5.0,"[{'alias': 'bangladeshi', 'title': 'Bangladesh...",$$,173
4,Andrea Salumeria,"[247 Central Ave, Apt 3, Jersey City, NJ 07307]",Jersey City,5.0,"[{'alias': 'delis', 'title': 'Delis'}]",$,232
5,L'industrie Pizzeria,"[254 S 2nd St, Brooklyn, NY 11211]",Brooklyn,5.0,"[{'alias': 'pizza', 'title': 'Pizza'}]",$,405
6,Los Tacos No.1,"[229 W 43rd St, New York, NY 10036]",New York,4.5,"[{'alias': 'tacos', 'title': 'Tacos'}]",$,1095
7,Royal Grill Halal Food,"[44th St And 6th Ave, New York, NY 10036]",New York,5.0,"[{'alias': 'halal', 'title': 'Halal'}, {'alias...",$,250
8,Miscelanea NY,"[63 E 4th St, New York, NY 10003]",New York,5.0,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",$$,339
9,Hold Fast Kitchen and Spirits,"[364 W46th St, New York, NY 10036]",New York,5.0,"[{'alias': 'cocktailbars', 'title': 'Cocktail ...",$$,156
10,Green Juice Cafe,"[4316 Broadway, New York, NY 10033]",New York,5.0,"[{'alias': 'sandwiches', 'title': 'Sandwiches'...",$,165
11,Joey Bats Café,"[129 Allen St, New York, NY 10002]",New York,5.0,"[{'alias': 'desserts', 'title': 'Desserts'}, {...",$,146
12,Cafe Talya,"[218 Ave B, Bayonne, NJ 07002]",Bayonne,5.0,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",$,222
13,Los Tacos No.1,"[75 9th Ave, New York, NY 10011]",New York,4.5,"[{'alias': 'tacos', 'title': 'Tacos'}]",$,2633
14,Non Solo Piada,"[302 W 37th St, New York, NY 10018]",New York,5.0,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",$$,278
15,Koroni Souvlaki and Grill,"[29-37 Newtown Ave, Astoria, NY 11102]",Astoria,5.0,"[{'alias': 'mediterranean', 'title': 'Mediterr...",$$,206
16,"Sal, Kris, & Charlie's Deli","[33-12 23rd Ave, Astoria, NY 11105]",Astoria,4.5,"[{'alias': 'delis', 'title': 'Delis'}, {'alias...",$,976
17,Pita Palace,"[413 Graham Ave, Brooklyn, NY 11211]",Brooklyn,5.0,"[{'alias': 'mideastern', 'title': 'Middle East...",$,210
18,Samurai Sushi,"[254 Park Ave, East Rutherford, NJ 07073]",East Rutherford,5.0,"[{'alias': 'japanese', 'title': 'Japanese'}, {...",$$,148
19,Frenchy's Food Truck,"[341 Eastern Pkwy, Brooklyn, NY 11238]",Brooklyn,5.0,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",$,60
20,Tony's Beechhurst Deli,"[1118 154th St, Whitestone, NY 11357]",Whitestone,5.0,"[{'alias': 'delis', 'title': 'Delis'}, {'alias...",$$,152
21,Baba's Pierogies,"[295 3rd Ave, Brooklyn, NY 11215]",Brooklyn,4.5,"[{'alias': 'modern_european', 'title': 'Modern...",$$,349
22,Sushi by Bou Times Square,"[132 W 47th St, New York, NY 10036]",New York,4.5,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",$$$,344
23,Second Street Bakery,"[402 2nd St, Jersey City, NJ 07302]",Jersey City,5.0,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",$,184
24,Lella Alimentari,"[325 Manhattan Ave, Brooklyn, NY 11211]",Brooklyn,5.0,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",$,159
25,Sushi Lin,"[335 Flatbush Ave, Brooklyn, NY 11217]",Brooklyn,5.0,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",$$$,206
26,Casa d'Paco,"[73 Warwick St, Newark, NJ 07105]",Newark,4.5,"[{'alias': 'spanish', 'title': 'Spanish'}, {'a...",$$,533
27,Los Mariscos,"[409 W 15th St, New York, NY 10011]",New York,4.5,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",$,472
28,191 Knickerbocker,"[191 Knickerbocker Ave, Brooklyn, NY 11237]",Brooklyn,5.0,"[{'alias': 'breakfast_brunch', 'title': 'Break...",$$,82
29,Fiore Deli of Hoboken,"[414 Adams St, Hoboken, NJ 07030]",Hoboken,4.5,"[{'alias': 'delis', 'title': 'Delis'}, {'alias...",$,485
30,Jajaja,"[162 E Broadway, New York, NY 10002]",New York,4.5,"[{'alias': 'mexican', 'title': 'Mexican'}, {'a...",$$,639
31,Mughlai Grill,"[6 Clinton St, New York, NY 10002]",New York,4.5,"[{'alias': 'indpak', 'title': 'Indian'}]",$$,276
32,Sami's Kabab House,"[35-57 Crescent St, Astoria, NY 11106]",Astoria,4.5,"[{'alias': 'afghani', 'title': 'Afghan'}, {'al...",$$,297
33,Laojie Hotpot,"[811 53rd St, Brooklyn, NY 11220]",Brooklyn,4.5,"[{'alias': 'hotpot', 'title': 'Hot Pot'}]",$$,435
34,4 Charles Prime Rib,"[4 Charles St, New York, NY 10014]",New York,5.0,"[{'alias': 'steak', 'title': 'Steakhouses'}, {...",$$$,193
35,Aux Merveilleux De Fred,"[37 8th Ave, New York, NY 10014]",New York,4.5,"[{'alias': 'desserts', 'title': 'Desserts'}, {...",$$,309
36,Tres Leches Cafe,"[356 E 112th St, New York, NY 10029]",New York,5.0,"[{'alias': 'bakeries', 'title': 'Bakeries'}, {...",$,94
37,Kafe Louverture,"[392 Halsey St, Brooklyn, NY 11216]",Brooklyn,5.0,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",$,97
38,Mysttik Masaala,"[399 Park Ave, Corner of 54th street, New York...",New York,4.5,"[{'alias': 'foodtrucks', 'title': 'Food Trucks...",$,350
39,Sorriso Italian Pork Store,"[4416 30th Ave, Astoria, NY 11103]",Astoria,4.5,"[{'alias': 'meats', 'title': 'Meat Shops'}, {'...",$,313
40,Griot Cafe,"[434 Central Ave, Jersey City, NJ 07307]",Jersey City,5.0,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",$$,93
41,Panzerotti Bites,"[235 Smith St, Brooklyn, NY 11231]",Brooklyn,5.0,"[{'alias': 'italian', 'title': 'Italian'}]",$$,80
42,Dian Kitchen,"[435 E 9th St, New York, NY 10009]",New York,5.0,"[{'alias': 'chinese', 'title': 'Chinese'}, {'a...",$$,132
43,Three Seat Espresso,"[137 Avenue A, New York, NY 10009]",New York,5.0,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",$$,178
44,Loi Estiatorio,"[132 W 58th St, New York, NY 10019]",New York,4.5,"[{'alias': 'greek', 'title': 'Greek'}, {'alias...",$$$,318
45,Lillo Cucina Italiana,"[331 Henry St, Brooklyn, NY 11201]",Brooklyn,5.0,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",$,75
46,Frisson Espresso,"[326 W 47th St, New York, NY 10036]",New York,4.5,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",$,643
47,Top Thai Greenwich,"[235 Sullivan St, New York, NY 10012]",New York,4.5,"[{'alias': 'thai', 'title': 'Thai'}, {'alias':...",$$,1069
48,Joe's Italian Deli,"[685 E 187th St, Bronx, NY 10458]",Bronx,5.0,"[{'alias': 'delis', 'title': 'Delis'}, {'alias...",$$,98
49,Ruffian,"[125 E 7th St, New York, NY 10009]",New York,4.5,"[{'alias': 'wine_bars', 'title': 'Wine Bars'},...",$$,186

In [20]:
#Save to a CSV all data retrieved
#df_sort_ny.to_csv("NewYork.csv", sep=',',index=False)
df_ny.to_csv("NewYork.csv", sep=',',index=False)

# 3) London

In [22]:
# Perform API Calls - test with one restaurant 
params_ld = {'term':'restaurant',
             'location':'London', 
             'sort_by': 'rating',    
             'limit':'50'}

In [23]:
request=requests.get(url, params=params_ld, headers=headers)
print('The status code is {}'.format(request.status_code))

The status code is 200

In [24]:
#Convert the data into a JSON object
parsed_ld = json.loads(request.text)
london = parsed_ld["businesses"]

In [25]:
#“businesses” is a list, enclosed by a square brackets.
# extract businesses first into a Python list and then loop over the businesses in the list.
count = 1
name = []
address = []
city = []
stars = []
category = []
cost = []
review_count = []

for business in london:
    #print("Number:", count)
    #print("Name:", business["name"])
    #print("Address:", " ".join(business["location"]["display_address"]))
    #print("City:", " ".join(business["location"]["city"]))
    #print("Rating:", business["rating"])
    #print("Category:", business["categories"])
        
    #if 'price' in business:
    #    print("Cost:", business["price"])
    #
    #print("\n")
    #print("Review Count:", business["review_count"])
    
    name.append(business["name"])
    address.append(business["location"]["display_address"])
    city.append(business["location"]["city"])
    stars.append(business["rating"])
    category.append(business["categories"])
    
    if 'price' in business:
        cost.append(business["price"])
    else:
        cost.append("")
    review_count.append(business["review_count"])

    count = count+1

In [26]:
#Display the DataFrame
df_ld = pd.DataFrame(data={"Restaurant Name": name, "Restaurant Address": address, "Restaurant City": city, "Stars":
                       stars, "Category": category, "Cost": cost, "Review Count": review_count})

df_ld
#df_sort_ld = df_ld.sort_values(by=['Review Count'], ascending=False)
#df_sort_ld

,Restaurant Name,Restaurant Address,Restaurant City,Stars,Category,Cost,Review Count
0,The Golden Chippy,"[62 Greenwich High Road, Greenwich, London SE1...",London,5.0,"[{'alias': 'fishnchips', 'title': 'Fish & Chip...",££,67
1,Ffiona's Restaurant,"[51 Kensington Church Street, London W8 4BA, U...",London,4.5,"[{'alias': 'british', 'title': 'British'}]",££,236
2,Dishoom,"[22 Kingly Street, London W1B 5QP, United King...",London,4.5,"[{'alias': 'indpak', 'title': 'Indian'}]",££,432
3,Bailey's Fish and Chips,"[115 Dawes Road, Fulham, London SW6 7EQ, Unite...",London,4.5,"[{'alias': 'fishnchips', 'title': 'Fish & Chip...",£,119
4,Kennington Lane Cafe,"[383 Kennington Lane, Vauxhall, London SE11 5Q...",London,5.0,"[{'alias': 'cafes', 'title': 'Cafes'}]",£,63
5,Dishoom,"[12 Upper Saint Martin's Lane, London WC2H 9FB...",London,4.5,"[{'alias': 'indpak', 'title': 'Indian'}]",££,1598
6,Dishoom,"[5 Stable Street, London N1C 4AB, United Kingdom]",London,4.5,"[{'alias': 'indpak', 'title': 'Indian'}, {'ali...",££,325
7,Regency Café,"[17-19 Regency Street, London SW1P 4BY, United...",London,4.5,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",£,368
8,The Ledbury,"[127 Ledbury Road, London W11 2AQ, United King...",London,4.5,"[{'alias': 'modern_european', 'title': 'Modern...",££££,161
9,Flat Iron,"[17-18 Henrietta Street, Covent Garden WC2E 8Q...",Covent Garden,4.5,"[{'alias': 'steak', 'title': 'Steakhouses'}]",££,160
10,Dishoom,"[7 Boundary Street, London E2 7JE, United King...",London,4.5,"[{'alias': 'indpak', 'title': 'Indian'}, {'ali...",££,413
11,The Palomar Restaurant,"[34 Rupert Street, London W1D 6DN, United King...",London,4.5,"[{'alias': 'mideastern', 'title': 'Middle East...",£££,90
12,Hawksmoor Seven Dials,"[11 Langley Street, London WC2H 9JG, United Ki...",London,4.5,"[{'alias': 'british', 'title': 'British'}, {'a...",£££,320
13,Restaurant Gordon Ramsay,"[68 Royal Hospital Road, London SW3 4HP, Unite...",London,4.5,"[{'alias': 'french', 'title': 'French'}, {'ali...",££££,192
14,Padella,"[6 Southwark Street, London SE1 1TQ, United Ki...",London,4.5,"[{'alias': 'italian', 'title': 'Italian'}]",££,155
15,Dinner by Heston Blumenthal,"[66 Knightsbridge, Mandarin Oriental at Hyde P...",London,4.5,"[{'alias': 'british', 'title': 'British'}]",££££,276
16,Bageriet,"[24 Rose Street, London WC2E 9EA, United Kingdom]",London,5.0,"[{'alias': 'scandinavian', 'title': 'Scandinav...",£,59
17,Flat Iron,"[17 Beak Street, Soho, London W1F 9RW, United ...",London,4.5,"[{'alias': 'steak', 'title': 'Steakhouses'}]",££,338
18,Friends of Ours,"[61 Pitfield Street, London N1 6BU, United Kin...",London,4.5,"[{'alias': 'cafes', 'title': 'Cafes'}]",££,87
19,Homeslice Neal's Yard,"[13 Neal's Yard, Covent Garden, London WC2H 9D...",London,4.5,"[{'alias': 'pizza', 'title': 'Pizza'}]",££,210
20,Il Portico,"[277 Kensington High Street, London W8 6NA, Un...",London,5.0,"[{'alias': 'italian', 'title': 'Italian'}]",£££,48
21,E Pellicci,"[332 Bethnal Green Road, London E2 0AG, United...",London,4.5,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",£,80
22,Honest Burgers,"[4A Meard Street, London W1F 0EF, United Kingdom]",London,4.5,"[{'alias': 'burgers', 'title': 'Burgers'}]",££,259
23,Orjowan Lebanese Cuisine,"[6 Kenway Road, Earl's Court, London SW5 0RR, ...",London,4.5,"[{'alias': 'mideastern', 'title': 'Middle East...",££,88
24,Dishoom - Kensington,"[4 Derry Street, Kensington W8 5SE, United Kin...",Kensington,4.5,"[{'alias': 'indpak', 'title': 'Indian'}]",££,77
25,The Barbary,"[16 Neal's Yard, Seven Dials, London WC2H 9DP,...",London,4.5,"[{'alias': 'mideastern', 'title': 'Middle East...",£££,50
26,The Harwood Arms,"[27 Walham Grove, Fulham, London SW6 1QP, Unit...",London,4.5,"[{'alias': 'gastropubs', 'title': 'Gastropubs'...",£££,116
27,The Fat Bear,"[61 Carter Lane, London EC4V 5DY, United Kingdom]",London,4.5,"[{'alias': 'tradamerican', 'title': 'American ...",££,107
28,Ozone Coffee,"[11 Leonard Street, London EC2A 4AQ, United Ki...",London,4.5,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",££,176
29,Barrafina,"[10 Adelaide Street, London WC2N 4HZ, United K...",London,4.5,"[{'alias': 'spanish', 'title': 'Spanish'}]",£££,60
30,Pimlico Fresh,"[85 Wilton Road, London SW1V 1DE, United Kingdom]",London,4.5,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",££,142
31,Quilon Restaurant,"[41 Buckingham Gate, London SW1E 6AF, United K...",London,4.5,"[{'alias': 'indpak', 'title': 'Indian'}]",£££,143
32,Franco Manca,"[4 Market Row, Electric Lane, London SW9 8LD, ...",London,4.5,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",£,168
33,Goodman,"[26 Maddox Street, London W1S 1QH, United King...",London,4.5,"[{'alias': 'steak', 'title': 'Steakhouses'}, {...",£££,104
34,Kanada-Ya,"[64 St Giles High Street, London WC2H 8LE, Uni...",London,4.5,"[{'alias': 'ramen', 'title': 'Ramen'}]",££,141
35,The Tiroler Hut Restaurant,"[27 Westbourne Grove, London W2 4UA, United Ki...",London,4.5,"[{'alias': 'german', 'title': 'German'}, {'ali...",££,67
36,Blacklock,"[The Basement, 24 Great Windmill Street, Londo...",London,4.5,"[{'alias': 'british', 'title': 'British'}, {'a...",£££,79
37,Pizza Union,"[25 Sandy's Row, Corner of Middlesex Street, S...",London,4.5,"[{'alias': 'pizza', 'title': 'Pizza'}]",£,81
38,Mother Mash,"[26 Ganton Street, London W1F 7QZ, United King...",London,4.0,"[{'alias': 'british', 'title': 'British'}]",££,414
39,Hawksmoor Spitalfields,"[157a Commercial Street, London E1 6BJ, United...",London,4.5,"[{'alias': 'steak', 'title': 'Steakhouses'}, {...",£££,169
40,The Pig and Butcher,"[80 Liverpool Road, London N1 0QD, United King...",London,4.5,"[{'alias': 'british', 'title': 'British'}, {'a...",££,93
41,St John Bar and Restaurant,"[26 St John Street, London EC1M 4AY, United Ki...",London,4.0,"[{'alias': 'british', 'title': 'British'}, {'a...",£££,284
42,Savoir Faire,"[42 New Oxford Street, London WC1A 1EP, United...",London,4.5,"[{'alias': 'french', 'title': 'French'}]",££,187
43,Big Apple Hot Dogs,"[Cole & Sons, 170 Caledonian Rd, Kings Cross, ...",London,4.5,"[{'alias': 'hotdog', 'title': 'Hot Dogs'}, {'a...",££,47
44,Burger & Lobster,"[29 Clarges Street, Mayfair W1J 7EF, United Ki...",Mayfair,4.5,"[{'alias': 'tradamerican', 'title': 'American ...",£££,211
45,The Victoria,"[10a Strathearn Place, Paddington W2 2NH, Unit...",Paddington,4.5,"[{'alias': 'pubs', 'title': 'Pubs'}, {'alias':...",££,173
46,Hawksmoor,"[5A Air Street, London W1J 0AD, United Kingdom]",London,4.5,"[{'alias': 'seafood', 'title': 'Seafood'}, {'a...",£££,139
47,NOPI,"[21-22 Warwick Street, London W1B 5NE, United ...",London,4.0,"[{'alias': 'mediterranean', 'title': 'Mediterr...",£££,253
48,Barrafina,"[43 Drury Lane, Covent Garden, London WC2B 5RT...",London,4.5,"[{'alias': 'spanish', 'title': 'Spanish'}, {'a...",££,52
49,Petrus,"[1 Kinnerton Street, Knightsbridge, London SW1...",London,4.5,"[{'alias': 'french', 'title': 'French'}]",££££,101

In [27]:
#Save to a CSV all data retrieved
#df_sort_ld.to_csv("London.csv", sep=',',index=False)
df_ld.to_csv("London.csv", sep=',',index=False)

# 4) Paris

In [28]:
# Perform API Calls - test with one restaurant 
params_ps = {'term':'restaurant',
             'location':'Paris', 
             'sort_by': 'rating',  
             'limit':50}

In [29]:
request=requests.get(url, params=params_ps, headers=headers)
print('The status code is {}'.format(request.status_code))

The status code is 200

In [30]:
#Convert the data into a JSON object
parsed_ps = json.loads(request.text)
paris = parsed_ps["businesses"]

In [31]:
#“businesses” is a list, enclosed by a square brackets.
# extract businesses first into a Python list and then loop over the businesses in the list.
count = 1
name = []
address = []
city = []
stars = []
category = []
cost = []
review_count = []

for business in paris:
    #print("Number:", count)
    #print("Name:", business["name"])
    #print("Address:", " ".join(business["location"]["display_address"]))
    #print("City:", " ".join(business["location"]["city"]))
    #print("Rating:", business["rating"])
    #print("Category:", business["categories"])
        
    #if 'price' in business:
    #    print("Cost:", business["price"])
    #
    #print("\n")
    #print("Review Count:", business["review_count"])
    
    name.append(business["name"])
    address.append(business["location"]["display_address"])
    city.append(business["location"]["city"])
    stars.append(business["rating"])
    category.append(business["categories"])
    
    if 'price' in business:
        cost.append(business["price"])
    else:
        cost.append("")
    review_count.append(business["review_count"])

    count = count+1

In [32]:
#Display the DataFrame
df_ps = pd.DataFrame(data={"Restaurant Name": name, "Restaurant Address": address, "Restaurant City": city, "Stars":
                       stars, "Category": category, "Cost": cost, "Review Count": review_count})

df_ps
#df_sort_ps = df_ps.sort_values(by=['Review Count'], ascending=False)
#df_sort_ps

,Restaurant Name,Restaurant Address,Restaurant City,Stars,Category,Cost,Review Count
0,Le Potager du Père Thierry,"[16 rue des Trois Frères, 75018 Paris, France]",Paris,4.5,"[{'alias': 'french', 'title': 'French'}]",€€,392
1,La Coïncidence,"[15 rue Mesnil, 75116 Paris, France]",Paris,4.5,"[{'alias': 'french', 'title': 'French'}]",€€,417
2,Le Comptoir de la Gastronomie,"[34 rue Montmartre, 75001 Paris, France]",Paris,4.5,"[{'alias': 'french', 'title': 'French'}]",€€,872
3,Le Volant Basque,"[13 rue Béatrix Dussane, 75015 Paris, France]",Paris,4.5,"[{'alias': 'basque', 'title': 'Basque'}]",€€,201
4,Holybelly,"[5 rue Lucien Sampaix, 75010 Paris, France]",Paris,4.5,"[{'alias': 'breakfast_brunch', 'title': 'Break...",€€,155
5,Fraîche,"[8 rue Vicq d'Azir, 75010 Paris, France]",Paris,4.5,"[{'alias': 'french', 'title': 'French'}]",€€€,99
6,Le Cinq,"[31 avenue George V, 75008 Paris, France]",Paris,4.5,"[{'alias': 'french', 'title': 'French'}]",€€€€,122
7,Pizza Julia,"[43 rue de Charenton, 75012 Paris, France]",Paris,4.5,"[{'alias': 'pizza', 'title': 'Pizza'}]",€,127
8,Le Bistrot des Augustins,"[39 quai des Grands Augustins, 75006 Paris, Fr...",Paris,4.5,"[{'alias': 'bistros', 'title': 'Bistros'}, {'a...",€€,322
9,Chez Alain Miam Miam,"[26 rue Charlot, 75003 Paris, France]",Paris,4.5,"[{'alias': 'creperies', 'title': 'Creperies'},...",€,132
10,L'Avant Comptoir,"[3 carrefour de l'Odéon, 75006 Paris, France]",Paris,4.5,"[{'alias': 'tapas', 'title': 'Tapas Bars'}, {'...",€€,576
11,Baguett's Café,"[33 rue de Richelieu, 75001 Paris, France]",Paris,4.5,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",€€,161
12,L'Epicure,"[112 rue du Faubourg Saint-Honoré, 75008 Paris...",Paris,4.5,"[{'alias': 'french', 'title': 'French'}, {'ali...",€€€€,150
13,Le Hide,"[10 Rue Gén Lanrezac, 75017 Paris, France]",Paris,4.5,"[{'alias': 'french', 'title': 'French'}]",€€€,193
14,La Vache et le Cuisinier,"[18 rue des Trois Frères, 75018 Paris, France]",Paris,5.0,"[{'alias': 'french', 'title': 'French'}]",€€€,58
15,Sanukiya,"[9 rue d'Argenteuil, 75001 Paris, France]",Paris,4.5,"[{'alias': 'japanese', 'title': 'Japanese'}]",€€,305
16,La Droguerie du Marais,"[56 rue des Rosiers, 75004 Paris, France]",Paris,4.5,"[{'alias': 'creperies', 'title': 'Creperies'}]",€,176
17,Le Bistro du Périgord,"[71 rue Saint-Jacques, 75005 Paris, France]",Paris,4.5,"[{'alias': 'bistros', 'title': 'Bistros'}]",€€€,332
18,Le Petit Canard,"[19 rue Henri Monnier, 75009 Paris, France]",Paris,4.5,"[{'alias': 'french', 'title': 'French'}]",€€,163
19,Chez Mademoiselle,"[16 rue Charlemagne, 75004 Paris, France]",Paris,4.5,"[{'alias': 'french', 'title': 'French'}]",€€€,88
20,Crêperie Brocéliande,"[15 rue des Trois Frères, 75018 Paris, France]",Paris,4.5,"[{'alias': 'creperies', 'title': 'Creperies'},...",€€,116
21,Al Caratello,"[5 rue Audran, 75018 Paris, France]",Paris,4.5,"[{'alias': 'italian', 'title': 'Italian'}]",€€,159
22,Le Bistrot des Campagnes,"[6 rue Léopold Robert, 75014 Paris, France]",Paris,4.5,"[{'alias': 'bistros', 'title': 'Bistros'}]",€€,117
23,Little Breizh,"[11 rue Grégoire de Tours, 75006 Paris, France]",Paris,4.5,"[{'alias': 'creperies', 'title': 'Creperies'}]",€€,188
24,Soul Kitchen,"[33 rue Lamarck, 75018 Paris, France]",Paris,4.5,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",€€,129
25,Chez le Libanais,"[35 rue Saint-André-des-Arts, 75006 Paris, Fra...",Paris,4.5,"[{'alias': 'lebanese', 'title': 'Lebanese'}]",€,164
26,L'As du Fallafel,"[34 rue des Rosiers, 75004 Paris, France]",Paris,4.5,"[{'alias': 'kosher', 'title': 'Kosher'}, {'ali...",€,1658
27,Galette Café,"[2 rue de l'Université, 75007 Paris, France]",Paris,4.5,"[{'alias': 'creperies', 'title': 'Creperies'}]",€€,98
28,La Cordonnerie,"[20 rue Saint Roch, 75001 Paris, France]",Paris,4.5,"[{'alias': 'french', 'title': 'French'}]",€€€,74
29,Le Temps des Cerises,"[31 rue de la Cerisaie, 75004 Paris, France]",Paris,4.5,"[{'alias': 'bistros', 'title': 'Bistros'}]",€€,304
30,The Hardware Société,"[10 rue Lamarck, 75018 Paris, France]",Paris,4.5,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",€€,134
31,Reed - Restaurant,"[11 bis rue Amelie, 75007 Paris, France]",Paris,5.0,"[{'alias': 'french', 'title': 'French'}]",€€€,48
32,Les Papilles,"[30 rue Gay-Lussac, 75005 Paris, France]",Paris,4.5,"[{'alias': 'wine_bars', 'title': 'Wine Bars'},...",€€€,230
33,Bar Italia Brasserie,"[22 rue Moncey, 75009 Paris, France]",Paris,5.0,"[{'alias': 'italian', 'title': 'Italian'}]",€€€,41
34,La Jacobine,"[59-61 rue Saint-André des Arts, 75006 Paris, ...",Paris,4.5,"[{'alias': 'tea', 'title': 'Tea Rooms'}, {'ali...",€€€,247
35,L'Alsacien,"[6 rue Saint-Bon, 75004 Paris, France]",Paris,4.5,"[{'alias': 'beerbar', 'title': 'Beer Bar'}, {'...",€€,61
36,Matamata Coffee Bar,"[58 rue d'Argout, 75002 Paris, France]",Paris,4.5,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",€,75
37,Le Jardin d'en Face,"[29 rue des Trois Frères, 75018 Paris, France]",Paris,4.5,"[{'alias': 'french', 'title': 'French'}]",€€,82
38,Sacrée Fleur,"[50 rue Clignancourt, 75018 Paris, France]",Paris,4.5,"[{'alias': 'french', 'title': 'French'}]",€€€,87
39,Pizzeria Babalou,"[4 rue Lamarck, 75018 Paris, France]",Paris,4.5,"[{'alias': 'italian', 'title': 'Italian'}, {'a...",€€,155
40,Crêperie le Crépuscule,"[18 rue Amélie, 75007 Paris, France]",Paris,4.5,"[{'alias': 'creperies', 'title': 'Creperies'}]",€€,62
41,L'Estrapade,"[15 rue de l'Estrapade, 75005 Paris, France]",Paris,5.0,"[{'alias': 'french', 'title': 'French'}]",€€€,42
42,Les Antiquaires,"[13 rue du Bac, 75007 Paris, France]",Paris,4.5,"[{'alias': 'french', 'title': 'French'}]",€€,241
43,Miznon,"[22 rue des Ecouffes, 75004 Paris, France]",Paris,4.5,"[{'alias': 'kosher', 'title': 'Kosher'}, {'ali...",€€,145
44,L'Ardoise Gourmande,"[12 rue de Belzunce, 75010 Paris, France]",Paris,4.5,"[{'alias': 'french', 'title': 'French'}]",€€,81
45,Banh Mi,"[81 rue de Turbigo, 75003 Paris, France]",Paris,4.5,"[{'alias': 'vietnamese', 'title': 'Vietnamese'...",€,148
46,La Cave Gourmande,"[96 rue des Martyrs, 75018 Paris, France]",Paris,4.5,"[{'alias': 'french', 'title': 'French'}]",€€,282
47,Au Pied du Sacré Coeur,"[85 rue Lamarck, 75018 Paris, France]",Paris,4.5,"[{'alias': 'french', 'title': 'French'}]",€€,159
48,Verjus,"[52 rue de Richelieu, 75001 Paris, France]",Paris,4.5,"[{'alias': 'modern_european', 'title': 'Modern...",€€€€,137
49,Chez Gabrielle,"[7 rue de l'Etoile, 75017 Paris, France]",Paris,4.5,"[{'alias': 'french', 'title': 'French'}]",€€€,59

In [33]:
#Save to a CSV all data retrieved
#df_sort_ps.to_csv("Paris.csv", sep=',',index=False)
df_ps.to_csv("Paris.csv", sep=',',index=False)

# 5) Tokyo

In [34]:
# Perform API Calls - test with one restaurant 
params_tk = {'term':'restaurant',
             'location':'Tokyo', 
             'sort_by': 'rating',    
             'limit':'50'}

In [35]:
request=requests.get(url, params=params_tk, headers=headers)
print('The status code is {}'.format(request.status_code))

The status code is 200

In [36]:
#Convert the data into a JSON object
parsed_tk = json.loads(request.text)
tokyo = parsed_tk["businesses"]

In [38]:
#“businesses” is a list, enclosed by a square brackets.
# extract businesses first into a Python list and then loop over the businesses in the list.
count = 1
name = []
address = []
city = []
stars = []
category = []
cost = []
review_count = []

for business in tokyo:
    #print("Number:", count)
    #print("Name:", business["name"])
    #print("Address:", " ".join(business["location"]["display_address"]))
    #print("City:", " ".join(business["location"]["city"]))
    #print("Rating:", business["rating"])
    #print("Category:", business["categories"])
        
    #if 'price' in business:
    #    print("Cost:", business["price"])
    #
    #print("\n")
    #print("Review Count:", business["review_count"])
    
    name.append(business["name"])
    address.append(business["location"]["display_address"])
    city.append(business["location"]["city"])
    stars.append(business["rating"])
    category.append(business["categories"])
    
    if 'price' in business:
        cost.append(business["price"])
    else:
        cost.append("")
    review_count.append(business["review_count"])

    count = count+1

In [39]:
#Display the DataFrame
df_tk = pd.DataFrame(data={"Restaurant Name": name, "Restaurant Address": address, "Restaurant City": city, "Stars":
                       stars, "Category": category, "Cost": cost, "Review Count": review_count})

#df_sort_tk = df_tk.sort_values(by=['Review Count'], ascending=False)
#df_sort_tk
df_tk

,Restaurant Name,Restaurant Address,Restaurant City,Stars,Category,Cost,Review Count
0,Ichiran Shinjuku Chuo Higashiguchi,"[新宿3-34-11, ピースビルB1F, Shinjuku, 東京都 〒160-0022,...",Shinjuku,4.5,"[{'alias': 'ramen', 'title': 'Ramen'}]",￥,405
1,Gyukatsu MOTOMURA Tokyo Eki Yaesuguchi,"[八重洲1-6-14, Chūō, 東京都 〒103-0028, Japan]",Chūō,5.0,"[{'alias': 'japanese', 'title': 'Japanese'}]",￥￥,80
2,Ichiran Shibuya,"[神南1-22-7, 岩本ビルB1F, Shibuya, 東京都 〒150-0041, Ja...",Shibuya,4.5,"[{'alias': 'ramen', 'title': 'Ramen'}]",￥,529
3,Sushisho Masa,"[西麻布4丁目1-15, セブン西麻布, Minato, 東京都 〒106-0031, Ja...",Minato,5.0,"[{'alias': 'sushi', 'title': 'Sushi Bars'}]",￥￥￥￥,49
4,Uogashi Nihon Ichi Shinjuku Nishiguchi,"[西新宿1-12, 河西ビル1F, Shinjuku, 東京都 〒160-0023, Japan]",Shinjuku,5.0,"[{'alias': 'sushi', 'title': 'Sushi Bars'}]",￥,89
5,Hakushu,"[桜丘町17-10, MCD Building 1F, Shibuya, 東京都 〒150-...",Shibuya,5.0,"[{'alias': 'steak', 'title': 'Steakhouses'}, {...",￥￥￥,85
6,Gyūkatsu Motomura Shibuya,"[渋谷3-18-10, 大野ビル2号館 B1F, Shibuya, 東京都 〒979-130...",Shibuya,4.5,"[{'alias': 'tempura', 'title': 'Tempura'}, {'a...",￥,101
7,Ippudo Ginza,"[銀座4-10-3, セントラルビル 1F, Chūō, 東京都 〒104-0061, Ja...",Chūō,4.5,"[{'alias': 'ramen', 'title': 'Ramen'}, {'alias...",￥,179
8,T's Tantan Tokyo Station Keiyo Street,"[丸の内1-9-1, 改札内 京葉ストリート, Chiyoda, 東京都 〒100-0005...",Chiyoda,4.5,"[{'alias': 'vegan', 'title': 'Vegan'}, {'alias...",￥,148
9,Kyubey Ginza,"[銀座8-7-6, 銀座本店, Chūō, 東京都 〒104-0061, Japan]",Chūō,4.5,"[{'alias': 'sushi', 'title': 'Sushi Bars'}]",￥￥￥￥,106
10,AKIBA FUKUROU,"[神田練塀町67, Chiyoda, 東京都 〒101-0022, Japan]",Chiyoda,5.0,"[{'alias': 'themedcafes', 'title': 'Themed Caf...",￥,66
11,Gyukatsu Motomura Shinjuku,"[新宿3-32-2, モトビル地下1F, Shinjuku, 東京都 〒160-0022, ...",Shinjuku,5.0,"[{'alias': 'tempura', 'title': 'Tempura'}, {'a...",￥￥,72
12,Karashibi Miso Ramen Kikanbo,"[鍛冶町2-10-10, Chiyoda, 東京都 〒101-0044, Japan]",Chiyoda,4.5,"[{'alias': 'ramen', 'title': 'Ramen'}]",￥,84
13,Udon Shin,"[代々木2-20-16, 相馬ビル 1F, Shibuya, 東京都 〒151-0053, ...",Shibuya,4.5,"[{'alias': 'udon', 'title': 'Udon'}]",￥,144
14,Fuunji,"[代々木2-14-3, 北斗第一ビルB1F, Shibuya, 東京都 〒151-0053,...",Shibuya,4.5,"[{'alias': 'ramen', 'title': 'Ramen'}]",￥,197
15,Abura Soba Tōkyō Aburagumi Sōhonten,"[赤坂3-10-20, Minato, 東京都 〒107-0052, Japan]",Minato,5.0,"[{'alias': 'ramen', 'title': 'Ramen'}, {'alias...",￥,55
16,Sapporo DOMINICA Ginza,"[京橋3-4-1, ＴＭ銀座ビル 2F, Chūō, 東京都 〒104-0031, Japan]",Chūō,5.0,"[{'alias': 'japacurry', 'title': 'Japanese Cur...",￥,56
17,Fūryū Okonomiyaki Sometarō,"[西浅草2-2-2, Taitō, 東京都 〒111-0035, Japan]",Taitō,4.5,"[{'alias': 'okonomiyaki', 'title': 'Okonomiyak...",￥,86
18,Jirōmaru Shinjuku Honten,"[歌舞伎町1-26-3, かぶきビル 1F, Shinjuku, 東京都 〒160-0021...",Shinjuku,4.5,"[{'alias': 'yakiniku', 'title': 'Yakiniku'}]",￥￥,182
19,Japanese Soba Noodles Tsuta,"[巣鴨1-14-1, Plateau-Saka 1F, Toshima, 東京都 〒170-...",Toshima,4.5,"[{'alias': 'ramen', 'title': 'Ramen'}]",￥,168
20,Sukiyabashi Jiro Roppongi Hills,"[六本木6-10-1, 六本木ヒルズ けやき坂通り 3F, Minato, 東京都 〒106...",Minato,4.5,"[{'alias': 'sushi', 'title': 'Sushi Bars'}]",￥￥￥￥,86
21,Tatsunoya,"[西新宿7-4-5, 富士野ビル 1F, Shinjuku, 東京都 〒160-0023, ...",Shinjuku,4.5,"[{'alias': 'ramen', 'title': 'Ramen'}, {'alias...",￥,60
22,Ichiran Shibuya Spainzaka,"[宇田川町13-7, コヤスワンB1F, Shibuya, 東京都 〒150-0042, J...",Shibuya,5.0,"[{'alias': 'ramen', 'title': 'Ramen'}]",￥,51
23,Turret COFFEE,"[築地2-12-6, SK東銀座ビル 1F, Chūō, 東京都 〒104-0045, Ja...",Chūō,4.5,"[{'alias': 'cafes', 'title': 'Cafes'}, {'alias...",￥,86
24,Mutekiya,"[南池袋1-17-1, 崎本ビル1F, Toshima, 東京都 〒171-0022, Ja...",Toshima,4.5,"[{'alias': 'ramen', 'title': 'Ramen'}]",￥,87
25,Tonkatsu Maisen Aoyama Honten,"[神宮前4-8-5, Shibuya, 東京都 〒150-0001, Japan]",Shibuya,4.5,"[{'alias': 'tonkatsu', 'title': 'Tonkatsu'}, {...",￥￥,161
26,Kaiten Zushi Katsu Seibu Shibuya,"[宇田川町21-1, 8F, Shibuya, 東京都 〒150-0042, Japan]",Shibuya,4.5,"[{'alias': 'conveyorsushi', 'title': 'Conveyor...",￥￥,90
27,NAKIRYU,"[南大塚2-34-4, SKY南大塚 1F, Toshima, 東京都 〒170-0005,...",Toshima,4.5,"[{'alias': 'ramen', 'title': 'Ramen'}, {'alias...",￥,82
28,Uogashi Nihonichi Tachigui Sushi SHIBUYA CENTE...,"[宇田川町25-6, Shibuya, 東京都 〒150-0042, Japan]",Shibuya,4.5,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",￥￥,54
29,Narisawa,"[南青山2-6-15, Minato, 東京都 〒107-0062, Japan]",Minato,4.5,"[{'alias': 'asianfusion', 'title': 'Asian Fusi...",￥￥￥￥,52
30,Marugo,"[外神田1丁目8-14, Chiyoda, 東京都 〒101-0021, Japan]",Chiyoda,4.5,"[{'alias': 'tonkatsu', 'title': 'Tonkatsu'}]",￥￥,50
31,Ibuki,"[西新宿1-16-8, 河野ビル別館2F, Shinjuku, 東京都 〒160-0023,...",Shinjuku,5.0,"[{'alias': 'sukiyaki', 'title': 'Sukiyaki'}]",,41
32,Rokurinsha,"[丸の内1-9-1, B1F, Chiyoda, 東京都 〒100-0005, Japan]",Chiyoda,4.5,"[{'alias': 'ramen', 'title': 'Ramen'}]",￥,219
33,Afuri Ebisu,"[恵比寿1-1-7, Shibuya, 東京都 〒150-0013, Japan]",Shibuya,4.5,"[{'alias': 'ramen', 'title': 'Ramen'}]",￥,129
34,511,"[赤坂4-3-28, ディアプラザ赤坂B1, Minato, 東京都 〒135-0063, ...",Minato,4.5,"[{'alias': 'steak', 'title': 'Steakhouses'}, {...",￥￥￥￥,87
35,Umegaoka Sushinomidori Sōhonten Shibuya,"[道玄坂1-12-3, 4Ｆ, Shibuya, 東京都 〒150-0043, Japan]",Shibuya,4.5,"[{'alias': 'sushi', 'title': 'Sushi Bars'}]",￥￥,123
36,Fukki,"[芝大門2-1-1, Minato, 東京都 〒105-0012, Japan]",Minato,4.5,"[{'alias': 'ramen', 'title': 'Ramen'}]",￥,43
37,Tokyo Shiba Tofuya Ukai,"[芝公園4-4-13, Minato, 東京都 〒105-0011, Japan]",Minato,5.0,"[{'alias': 'kaiseki', 'title': 'Kaiseki'}, {'a...",￥￥￥,36
38,AIN SOPH. Ripple,"[歌舞伎町2-46-8, 日章ビル 1F, Shinjuku, 東京都 〒160-0021,...",Shinjuku,4.5,"[{'alias': 'vegan', 'title': 'Vegan'}, {'alias...",￥,46
39,Tonki Meguro,"[下目黒1-1-2, Meguro, 東京都 〒153-0064, Japan]",Meguro,4.5,"[{'alias': 'tonkatsu', 'title': 'Tonkatsu'}]",￥,76
40,Gomei,"[銀座6-4-18-B1, Chūō, 東京都 〒104-0061, Japan]",Chūō,5.0,"[{'alias': 'kaiseki', 'title': 'Kaiseki'}, {'a...",￥￥￥￥,25
41,Ichiran Ikebukuro,"[東池袋1丁目39-11, サニーサイドビル102, Toshima, 東京都 〒170-0...",Toshima,4.5,"[{'alias': 'ramen', 'title': 'Ramen'}]",￥,44
42,Imakatsu Roppongi Honten,"[六本木4-12-5, フェニキアルクソス ス 1F, Minato, 東京都 〒106-0...",Minato,4.5,"[{'alias': 'tonkatsu', 'title': 'Tonkatsu'}, {...",￥￥,41
43,Umai Sushi Kan Akasaka,"[赤坂3丁目13-10, Minato, 東京都 〒107-0052, Japan]",Minato,5.0,"[{'alias': 'sushi', 'title': 'Sushi Bars'}]",￥￥,28
44,SUSHIZANMAI Honten,"[築地4-11-9, Chūō, 東京都 〒104-0045, Japan]",Chūō,4.5,"[{'alias': 'sushi', 'title': 'Sushi Bars'}, {'...",￥￥,120
45,Reissue,"[神宮前3-25-7, 丹治ビル 2F, Shibuya, 東京都 〒150-0001, J...",Shibuya,4.5,"[{'alias': 'coffee', 'title': 'Coffee & Tea'},...",￥,91
46,Manten Sushi,"[丸の内2-6-1, 丸の内ブリックスクエアB1F, Chiyoda, 東京都 〒100-0...",Chiyoda,5.0,"[{'alias': 'sushi', 'title': 'Sushi Bars'}]",￥￥￥,34
47,KYUSHU JANGARA Omotesando 2F,"[神宮前1-13-21, Shibuya, 東京都 〒150-0001, Japan]",Shibuya,4.5,"[{'alias': 'ramen', 'title': 'Ramen'}]",￥,76
48,Nabezo Shinjuku 3 Chome,"[新宿3丁目30-11, 新宿高野第2ビル8F, Shinjuku, 東京都 〒160-00...",Shinjuku,4.5,"[{'alias': 'sukiyaki', 'title': 'Sukiyaki'}, {...",￥￥,86
49,MENYA MUSASHI SHINJUKU Honten,"[西新宿7-2-6, K-1ビル1F, Shinjuku, 東京都 〒160-0023, J...",Shinjuku,4.5,"[{'alias': 'ramen', 'title': 'Ramen'}, {'alias...",￥,92

In [40]:
#Save to a CSV all data retrieved
#df_sort_tk.to_csv("Tokyo.csv", sep=',',index=False)
df_tk.to_csv("Tokyo.csv", sep=',',index=False)