In [ ]:
# Project 2 - Yelp API

In [ ]:
# !pip install yelpapi

In [1]:
# Dependencies and Setup
import requests
import json
import pandas as pd

# Import API key
from api_keys import api_key

In [2]:
api_key='QWMy8-jFwxoKJkLNvzLl-jDymYjp-bN83izdcDMb91a3JG5h_8XRcjYNWWSXYhKjo0cPdnC_UdrnlAaap6kwUqa3Cqm2dCU202lvbXL3AkUqJ_m7PQAFKlqnvmGyXHYx'

headers = {'Authorization': 'Bearer %s' % api_key}

In [3]:
url='https://api.yelp.com/v3/businesses/search'

# New York

In [4]:
# Perform API Calls - test with one restaurant 
params_ld = {'term':'restaurant',
             'location':'New York', 
             'sort_by': 'rating',    
             'limit':'50'}

In [5]:
request=requests.get(url, params=params_ld, headers=headers)
print('The status code is {}'.format(request.status_code))

The status code is 200

In [6]:
#Convert the data into a JSON object
parsed_ld = json.loads(request.text)
newyork = parsed_ld["businesses"]

In [11]:
#“businesses” is a list, enclosed by a square brackets.
# extract businesses first into a Python list and then loop over the businesses in the list.
# count = 1
name = []
phone_number = []
postal_code =[]
address = []
city = []
rating = []
category = []
cost = []
review_count = []
 

for business in newyork:
    #print("Number:", count)
    #print("Name:", business["name"])
    #print("Address:", " ".join(business["location"]["display_address"]))
    #print("City:", " ".join(business["location"]["city"]))
    #print("Rating:", business["rating"])
    #print("Category:", business["categories"][0].get('alias'))
        
    #if 'price' in business:
    #    print("Cost:", business["price"])
    #
    #print("\n")
    #print("Review Count:", business["review_count"])
    
    name.append(business["name"])
    #phone_number.append(business["phone"])  
    phone_number.append(str(business["phone"])) 
    postal_code.append(business["location"]["zip_code"])
    address.append(str(business["location"]["display_address"]))
    city.append(business["location"]["city"])
    rating.append(business["rating"])
    category.append(business["categories"][0].get('alias'))
    
    
    if 'price' in business:
        cost.append(business["price"])
    else:
        cost.append("")
    review_count.append(business["review_count"])

    
    # count = count+1

In [12]:
df_ny = pd.DataFrame(data={"name": name, "phone_number": phone_number,"postal_code": postal_code, "address": address, "city": city, "rating":
                       rating, "category": category, "cost": cost, "review_Count": review_count})
df_ny

,name,phone_number,postal_code,address,city,rating,category,cost,review_Count
0,Otis,+16468860601,11206,"['18 Harrison Pl', 'Brooklyn, NY 11206']",Brooklyn,5.0,newamerican,$$,172
1,The Alcove,+13478134159,11104,"['41-11 49th St', 'Sunnyside, NY 11104']",Sunnyside,5.0,gastropubs,$$,677
2,Taste of Heaven,+17185763146,11211,"['251 Jackson St', 'Brooklyn, NY 11211']",Brooklyn,5.0,soulfood,$$,100
3,Korai Kitchen,+12017216566,07306,"['576 Summit Ave', 'Jersey City, NJ 07306']",Jersey City,5.0,bangladeshi,$$,173
4,Andrea Salumeria,+12016531666,07307,"['247 Central Ave', 'Apt 3', 'Jersey City, NJ ...",Jersey City,5.0,delis,$,232
5,L'industrie Pizzeria,+17185990002,11211,"['254 S 2nd St', 'Brooklyn, NY 11211']",Brooklyn,5.0,pizza,$,407
6,Los Tacos No.1,+12125744696,10036,"['229 W 43rd St', 'New York, NY 10036']",New York,4.5,tacos,$,1099
7,Royal Grill Halal Food,+13477240504,10036,"['44th St And 6th Ave', 'New York, NY 10036']",New York,5.0,halal,$,253
8,Miscelanea NY,+12122530277,10003,"['63 E 4th St', 'New York, NY 10003']",New York,5.0,coffee,$$,339
9,Hold Fast Kitchen and Spirits,+19172616691,10036,"['364 W46th St', 'New York, NY 10036']",New York,5.0,cocktailbars,$$,157
10,Green Juice Cafe,+16469187730,10033,"['4316 Broadway', 'New York, NY 10033']",New York,5.0,sandwiches,$,165
11,Joey Bats Café,+12129511189,10002,"['129 Allen St', 'New York, NY 10002']",New York,5.0,desserts,$,146
12,Cafe Talya,+12015355333,07002,"['218 Ave B', 'Bayonne, NJ 07002']",Bayonne,5.0,cafes,$,222
13,Los Tacos No.1,+12122560343,10011,"['75 9th Ave', 'New York, NY 10011']",New York,4.5,tacos,$,2636
14,Koroni Souvlaki and Grill,+17184898820,11102,"['29-37 Newtown Ave', 'Astoria, NY 11102']",Astoria,5.0,mediterranean,$$,206
15,Non Solo Piada,+12122160616,10018,"['302 W 37th St', 'New York, NY 10018']",New York,5.0,italian,$$,275
16,"Sal, Kris, & Charlie's Deli",+17182789240,11105,"['33-12 23rd Ave', 'Astoria, NY 11105']",Astoria,4.5,delis,$,976
17,Pita Palace,+17183830550,11211,"['413 Graham Ave', 'Brooklyn, NY 11211']",Brooklyn,5.0,mideastern,$,210
18,Samurai Sushi,+12018961760,07073,"['254 Park Ave', 'East Rutherford, NJ 07073']",East Rutherford,5.0,japanese,$$,148
19,Tony's Beechhurst Deli,+17187678222,11357,"['1118 154th St', 'Whitestone, NY 11357']",Whitestone,5.0,delis,$$,153
20,Frenchy's Food Truck,+16464682861,11238,"['341 Eastern Pkwy', 'Brooklyn, NY 11238']",Brooklyn,5.0,coffee,$,60
21,Baba's Pierogies,+17182220777,11215,"['295 3rd Ave', 'Brooklyn, NY 11215']",Brooklyn,4.5,modern_european,$$,350
22,Sushi by Bou Times Square,,10036,"['132 W 47th St', 'New York, NY 10036']",New York,4.5,sushi,$$$,346
23,Second Street Bakery,+12014201793,07302,"['402 2nd St', 'Jersey City, NJ 07302']",Jersey City,5.0,bakeries,$,184
24,Lella Alimentari,+17185992625,11211,"['325 Manhattan Ave', 'Brooklyn, NY 11211']",Brooklyn,5.0,coffee,$,160
25,Casa d'Paco,+18623079466,07105,"['73 Warwick St', 'Newark, NJ 07105']",Newark,4.5,spanish,$$,534
26,Sushi Lin,+13476276027,11217,"['335 Flatbush Ave', 'Brooklyn, NY 11217']",Brooklyn,5.0,sushi,$$$,206
27,Los Mariscos,+12129204986,10011,"['409 W 15th St', 'New York, NY 10011']",New York,4.5,seafood,$,472
28,191 Knickerbocker,+19293053625,11237,"['191 Knickerbocker Ave', 'Brooklyn, NY 11237']",Brooklyn,5.0,breakfast_brunch,$$,82
29,Fiore Deli of Hoboken,+12016591655,07030,"['414 Adams St', 'Hoboken, NJ 07030']",Hoboken,4.5,delis,$,486
30,Jajaja,+16468835453,10002,"['162 E Broadway', 'New York, NY 10002']",New York,4.5,mexican,$$,641
31,Mughlai Grill,+12125332828,10002,"['6 Clinton St', 'New York, NY 10002']",New York,4.5,indpak,$$,276
32,Sami's Kabab House,+19178327165,11106,"['35-57 Crescent St', 'Astoria, NY 11106']",Astoria,4.5,afghani,$$,298
33,4 Charles Prime Rib,+12125615992,10014,"['4 Charles St', 'New York, NY 10014']",New York,5.0,steak,$$$,194
34,Aux Merveilleux De Fred,+19174751992,10014,"['37 8th Ave', 'New York, NY 10014']",New York,4.5,desserts,$$,309
35,Laojie Hotpot,+17184310026,11220,"['811 53rd St', 'Brooklyn, NY 11220']",Brooklyn,4.5,hotpot,$$,436
36,Tres Leches Cafe,+16465590176,10029,"['356 E 112th St', 'New York, NY 10029']",New York,5.0,bakeries,$,94
37,Griot Cafe,+12014209444,07307,"['434 Central Ave', 'Jersey City, NJ 07307']",Jersey City,5.0,coffee,$$,94
38,Kafe Louverture,+13473053176,11216,"['392 Halsey St', 'Brooklyn, NY 11216']",Brooklyn,5.0,coffee,$,97
39,Mysttik Masaala,+19173063128,10022,"['399 Park Ave', 'Corner of 54th street', 'New...",New York,4.5,foodtrucks,$,350
40,Sorriso Italian Pork Store,+17187284392,11103,"['4416 30th Ave', 'Astoria, NY 11103']",Astoria,4.5,meats,$,313
41,Panzerotti Bites,+17184889300,11231,"['235 Smith St', 'Brooklyn, NY 11231']",Brooklyn,5.0,italian,$$,80
42,Dian Kitchen,+16465909898,10009,"['435 E 9th St', 'New York, NY 10009']",New York,5.0,chinese,$$,131
43,Three Seat Espresso,+19173882769,10009,"['137 Avenue A', 'New York, NY 10009']",New York,5.0,coffee,$$,178
44,Loi Estiatorio,+12127130015,10019,"['132 W 58th St', 'New York, NY 10019']",New York,4.5,greek,$$$,318
45,Lillo Cucina Italiana,+13477630899,11201,"['331 Henry St', 'Brooklyn, NY 11201']",Brooklyn,5.0,cafes,$,75
46,Frisson Espresso,+16468503928,10036,"['326 W 47th St', 'New York, NY 10036']",New York,4.5,coffee,$,644
47,Top Thai Greenwich,+16467264418,10012,"['235 Sullivan St', 'New York, NY 10012']",New York,4.5,thai,$$,1070
48,Joe's Italian Deli,+17183677979,10458,"['685 E 187th St', 'Bronx, NY 10458']",Bronx,5.0,delis,$$,98
49,Ruffian,,10009,"['125 E 7th St', 'New York, NY 10009']",New York,4.5,wine_bars,$$,186

In [13]:
#df_sort_ny = df_ny.sort_values(by=['rating'], ascending=False)
#df_sort_ny

In [14]:
df_sort_ny['address']=df_sort_ny['address'].str.replace('[', ' ').str.replace(']', '')

df_sort_ny

,name,phone_number,postal_code,address,city,rating,category,cost,review_Count
0,Otis,+16468860601,11206,"'18 Harrison Pl', 'Brooklyn, NY 11206'",Brooklyn,5.0,newamerican,$$,172
17,Pita Palace,+17183830550,11211,"'413 Graham Ave', 'Brooklyn, NY 11211'",Brooklyn,5.0,mideastern,$,210
38,Kafe Louverture,+13473053176,11216,"'392 Halsey St', 'Brooklyn, NY 11216'",Brooklyn,5.0,coffee,$,97
33,4 Charles Prime Rib,+12125615992,10014,"'4 Charles St', 'New York, NY 10014'",New York,5.0,steak,$$$,194
41,Panzerotti Bites,+17184889300,11231,"'235 Smith St', 'Brooklyn, NY 11231'",Brooklyn,5.0,italian,$$,80
42,Dian Kitchen,+16465909898,10009,"'435 E 9th St', 'New York, NY 10009'",New York,5.0,chinese,$$,131
28,191 Knickerbocker,+19293053625,11237,"'191 Knickerbocker Ave', 'Brooklyn, NY 11237'",Brooklyn,5.0,breakfast_brunch,$$,82
43,Three Seat Espresso,+19173882769,10009,"'137 Avenue A', 'New York, NY 10009'",New York,5.0,coffee,$$,178
26,Sushi Lin,+13476276027,11217,"'335 Flatbush Ave', 'Brooklyn, NY 11217'",Brooklyn,5.0,sushi,$$$,206
1,The Alcove,+13478134159,11104,"'41-11 49th St', 'Sunnyside, NY 11104'",Sunnyside,5.0,gastropubs,$$,677
24,Lella Alimentari,+17185992625,11211,"'325 Manhattan Ave', 'Brooklyn, NY 11211'",Brooklyn,5.0,coffee,$,160
23,Second Street Bakery,+12014201793,07302,"'402 2nd St', 'Jersey City, NJ 07302'",Jersey City,5.0,bakeries,$,184
45,Lillo Cucina Italiana,+13477630899,11201,"'331 Henry St', 'Brooklyn, NY 11201'",Brooklyn,5.0,cafes,$,75
20,Frenchy's Food Truck,+16464682861,11238,"'341 Eastern Pkwy', 'Brooklyn, NY 11238'",Brooklyn,5.0,coffee,$,60
19,Tony's Beechhurst Deli,+17187678222,11357,"'1118 154th St', 'Whitestone, NY 11357'",Whitestone,5.0,delis,$$,153
36,Tres Leches Cafe,+16465590176,10029,"'356 E 112th St', 'New York, NY 10029'",New York,5.0,bakeries,$,94
18,Samurai Sushi,+12018961760,07073,"'254 Park Ave', 'East Rutherford, NJ 07073'",East Rutherford,5.0,japanese,$$,148
8,Miscelanea NY,+12122530277,10003,"'63 E 4th St', 'New York, NY 10003'",New York,5.0,coffee,$$,339
15,Non Solo Piada,+12122160616,10018,"'302 W 37th St', 'New York, NY 10018'",New York,5.0,italian,$$,275
2,Taste of Heaven,+17185763146,11211,"'251 Jackson St', 'Brooklyn, NY 11211'",Brooklyn,5.0,soulfood,$$,100
3,Korai Kitchen,+12017216566,07306,"'576 Summit Ave', 'Jersey City, NJ 07306'",Jersey City,5.0,bangladeshi,$$,173
4,Andrea Salumeria,+12016531666,07307,"'247 Central Ave', 'Apt 3', 'Jersey City, NJ ...",Jersey City,5.0,delis,$,232
5,L'industrie Pizzeria,+17185990002,11211,"'254 S 2nd St', 'Brooklyn, NY 11211'",Brooklyn,5.0,pizza,$,407
48,Joe's Italian Deli,+17183677979,10458,"'685 E 187th St', 'Bronx, NY 10458'",Bronx,5.0,delis,$$,98
7,Royal Grill Halal Food,+13477240504,10036,"'44th St And 6th Ave', 'New York, NY 10036'",New York,5.0,halal,$,253
37,Griot Cafe,+12014209444,07307,"'434 Central Ave', 'Jersey City, NJ 07307'",Jersey City,5.0,coffee,$$,94
9,Hold Fast Kitchen and Spirits,+19172616691,10036,"'364 W46th St', 'New York, NY 10036'",New York,5.0,cocktailbars,$$,157
10,Green Juice Cafe,+16469187730,10033,"'4316 Broadway', 'New York, NY 10033'",New York,5.0,sandwiches,$,165
11,Joey Bats Café,+12129511189,10002,"'129 Allen St', 'New York, NY 10002'",New York,5.0,desserts,$,146
12,Cafe Talya,+12015355333,07002,"'218 Ave B', 'Bayonne, NJ 07002'",Bayonne,5.0,cafes,$,222
14,Koroni Souvlaki and Grill,+17184898820,11102,"'29-37 Newtown Ave', 'Astoria, NY 11102'",Astoria,5.0,mediterranean,$$,206
44,Loi Estiatorio,+12127130015,10019,"'132 W 58th St', 'New York, NY 10019'",New York,4.5,greek,$$$,318
40,Sorriso Italian Pork Store,+17187284392,11103,"'4416 30th Ave', 'Astoria, NY 11103'",Astoria,4.5,meats,$,313
39,Mysttik Masaala,+19173063128,10022,"'399 Park Ave', 'Corner of 54th street', 'New...",New York,4.5,foodtrucks,$,350
47,Top Thai Greenwich,+16467264418,10012,"'235 Sullivan St', 'New York, NY 10012'",New York,4.5,thai,$$,1070
46,Frisson Espresso,+16468503928,10036,"'326 W 47th St', 'New York, NY 10036'",New York,4.5,coffee,$,644
25,Casa d'Paco,+18623079466,07105,"'73 Warwick St', 'Newark, NJ 07105'",Newark,4.5,spanish,$$,534
35,Laojie Hotpot,+17184310026,11220,"'811 53rd St', 'Brooklyn, NY 11220'",Brooklyn,4.5,hotpot,$$,436
34,Aux Merveilleux De Fred,+19174751992,10014,"'37 8th Ave', 'New York, NY 10014'",New York,4.5,desserts,$$,309
32,Sami's Kabab House,+19178327165,11106,"'35-57 Crescent St', 'Astoria, NY 11106'",Astoria,4.5,afghani,$$,298
31,Mughlai Grill,+12125332828,10002,"'6 Clinton St', 'New York, NY 10002'",New York,4.5,indpak,$$,276
30,Jajaja,+16468835453,10002,"'162 E Broadway', 'New York, NY 10002'",New York,4.5,mexican,$$,641
29,Fiore Deli of Hoboken,+12016591655,07030,"'414 Adams St', 'Hoboken, NJ 07030'",Hoboken,4.5,delis,$,486
27,Los Mariscos,+12129204986,10011,"'409 W 15th St', 'New York, NY 10011'",New York,4.5,seafood,$,472
22,Sushi by Bou Times Square,,10036,"'132 W 47th St', 'New York, NY 10036'",New York,4.5,sushi,$$$,346
21,Baba's Pierogies,+17182220777,11215,"'295 3rd Ave', 'Brooklyn, NY 11215'",Brooklyn,4.5,modern_european,$$,350
16,"Sal, Kris, & Charlie's Deli",+17182789240,11105,"'33-12 23rd Ave', 'Astoria, NY 11105'",Astoria,4.5,delis,$,976
13,Los Tacos No.1,+12122560343,10011,"'75 9th Ave', 'New York, NY 10011'",New York,4.5,tacos,$,2636
6,Los Tacos No.1,+12125744696,10036,"'229 W 43rd St', 'New York, NY 10036'",New York,4.5,tacos,$,1099
49,Ruffian,,10009,"'125 E 7th St', 'New York, NY 10009'",New York,4.5,wine_bars,$$,186

In [22]:

df_sort_ny.phone_number=df_sort_ny.phone_number.str.replace("\+1", "")

df_sort_ny.head()

,name,phone_number,postal_code,address,city,rating,category,cost,review_Count
0,Otis,6468860601,11206,"'18 Harrison Pl', 'Brooklyn, NY 11206'",Brooklyn,5.0,newamerican,$$,172
17,Pita Palace,7183830550,11211,"'413 Graham Ave', 'Brooklyn, NY 11211'",Brooklyn,5.0,mideastern,$,210
38,Kafe Louverture,3473053176,11216,"'392 Halsey St', 'Brooklyn, NY 11216'",Brooklyn,5.0,coffee,$,97
33,4 Charles Prime Rib,2125615992,10014,"'4 Charles St', 'New York, NY 10014'",New York,5.0,steak,$$$,194
41,Panzerotti Bites,7184889300,11231,"'235 Smith St', 'Brooklyn, NY 11231'",Brooklyn,5.0,italian,$$,80

In [23]:
#df_sort_ny['address'] = df_sort_ny['address'].replace(' ', '[')

#df_sort_ny.address = df_sort_ny.address.astype(str).replace('[', '')
df_sort_ny.head()

,name,phone_number,postal_code,address,city,rating,category,cost,review_Count
0,Otis,6468860601,11206,"'18 Harrison Pl', 'Brooklyn, NY 11206'",Brooklyn,5.0,newamerican,$$,172
17,Pita Palace,7183830550,11211,"'413 Graham Ave', 'Brooklyn, NY 11211'",Brooklyn,5.0,mideastern,$,210
38,Kafe Louverture,3473053176,11216,"'392 Halsey St', 'Brooklyn, NY 11216'",Brooklyn,5.0,coffee,$,97
33,4 Charles Prime Rib,2125615992,10014,"'4 Charles St', 'New York, NY 10014'",New York,5.0,steak,$$$,194
41,Panzerotti Bites,7184889300,11231,"'235 Smith St', 'Brooklyn, NY 11231'",Brooklyn,5.0,italian,$$,80

In [24]:
df_sort_ny.reset_index(drop=True, inplace=True)
df_sort_ny

,name,phone_number,postal_code,address,city,rating,category,cost,review_Count
0,Otis,6468860601,11206,"'18 Harrison Pl', 'Brooklyn, NY 11206'",Brooklyn,5.0,newamerican,$$,172
1,Pita Palace,7183830550,11211,"'413 Graham Ave', 'Brooklyn, NY 11211'",Brooklyn,5.0,mideastern,$,210
2,Kafe Louverture,3473053176,11216,"'392 Halsey St', 'Brooklyn, NY 11216'",Brooklyn,5.0,coffee,$,97
3,4 Charles Prime Rib,2125615992,10014,"'4 Charles St', 'New York, NY 10014'",New York,5.0,steak,$$$,194
4,Panzerotti Bites,7184889300,11231,"'235 Smith St', 'Brooklyn, NY 11231'",Brooklyn,5.0,italian,$$,80
5,Dian Kitchen,6465909898,10009,"'435 E 9th St', 'New York, NY 10009'",New York,5.0,chinese,$$,131
6,191 Knickerbocker,9293053625,11237,"'191 Knickerbocker Ave', 'Brooklyn, NY 11237'",Brooklyn,5.0,breakfast_brunch,$$,82
7,Three Seat Espresso,9173882769,10009,"'137 Avenue A', 'New York, NY 10009'",New York,5.0,coffee,$$,178
8,Sushi Lin,3476276027,11217,"'335 Flatbush Ave', 'Brooklyn, NY 11217'",Brooklyn,5.0,sushi,$$$,206
9,The Alcove,3478134159,11104,"'41-11 49th St', 'Sunnyside, NY 11104'",Sunnyside,5.0,gastropubs,$$,677
10,Lella Alimentari,7185992625,11211,"'325 Manhattan Ave', 'Brooklyn, NY 11211'",Brooklyn,5.0,coffee,$,160
11,Second Street Bakery,2014201793,07302,"'402 2nd St', 'Jersey City, NJ 07302'",Jersey City,5.0,bakeries,$,184
12,Lillo Cucina Italiana,3477630899,11201,"'331 Henry St', 'Brooklyn, NY 11201'",Brooklyn,5.0,cafes,$,75
13,Frenchy's Food Truck,6464682861,11238,"'341 Eastern Pkwy', 'Brooklyn, NY 11238'",Brooklyn,5.0,coffee,$,60
14,Tony's Beechhurst Deli,7187678222,11357,"'1118 154th St', 'Whitestone, NY 11357'",Whitestone,5.0,delis,$$,153
15,Tres Leches Cafe,6465590176,10029,"'356 E 112th St', 'New York, NY 10029'",New York,5.0,bakeries,$,94
16,Samurai Sushi,2018961760,07073,"'254 Park Ave', 'East Rutherford, NJ 07073'",East Rutherford,5.0,japanese,$$,148
17,Miscelanea NY,2122530277,10003,"'63 E 4th St', 'New York, NY 10003'",New York,5.0,coffee,$$,339
18,Non Solo Piada,2122160616,10018,"'302 W 37th St', 'New York, NY 10018'",New York,5.0,italian,$$,275
19,Taste of Heaven,7185763146,11211,"'251 Jackson St', 'Brooklyn, NY 11211'",Brooklyn,5.0,soulfood,$$,100
20,Korai Kitchen,2017216566,07306,"'576 Summit Ave', 'Jersey City, NJ 07306'",Jersey City,5.0,bangladeshi,$$,173
21,Andrea Salumeria,2016531666,07307,"'247 Central Ave', 'Apt 3', 'Jersey City, NJ ...",Jersey City,5.0,delis,$,232
22,L'industrie Pizzeria,7185990002,11211,"'254 S 2nd St', 'Brooklyn, NY 11211'",Brooklyn,5.0,pizza,$,407
23,Joe's Italian Deli,7183677979,10458,"'685 E 187th St', 'Bronx, NY 10458'",Bronx,5.0,delis,$$,98
24,Royal Grill Halal Food,3477240504,10036,"'44th St And 6th Ave', 'New York, NY 10036'",New York,5.0,halal,$,253
25,Griot Cafe,2014209444,07307,"'434 Central Ave', 'Jersey City, NJ 07307'",Jersey City,5.0,coffee,$$,94
26,Hold Fast Kitchen and Spirits,9172616691,10036,"'364 W46th St', 'New York, NY 10036'",New York,5.0,cocktailbars,$$,157
27,Green Juice Cafe,6469187730,10033,"'4316 Broadway', 'New York, NY 10033'",New York,5.0,sandwiches,$,165
28,Joey Bats Café,2129511189,10002,"'129 Allen St', 'New York, NY 10002'",New York,5.0,desserts,$,146
29,Cafe Talya,2015355333,07002,"'218 Ave B', 'Bayonne, NJ 07002'",Bayonne,5.0,cafes,$,222
30,Koroni Souvlaki and Grill,7184898820,11102,"'29-37 Newtown Ave', 'Astoria, NY 11102'",Astoria,5.0,mediterranean,$$,206
31,Loi Estiatorio,2127130015,10019,"'132 W 58th St', 'New York, NY 10019'",New York,4.5,greek,$$$,318
32,Sorriso Italian Pork Store,7187284392,11103,"'4416 30th Ave', 'Astoria, NY 11103'",Astoria,4.5,meats,$,313
33,Mysttik Masaala,9173063128,10022,"'399 Park Ave', 'Corner of 54th street', 'New...",New York,4.5,foodtrucks,$,350
34,Top Thai Greenwich,6467264418,10012,"'235 Sullivan St', 'New York, NY 10012'",New York,4.5,thai,$$,1070
35,Frisson Espresso,6468503928,10036,"'326 W 47th St', 'New York, NY 10036'",New York,4.5,coffee,$,644
36,Casa d'Paco,8623079466,07105,"'73 Warwick St', 'Newark, NJ 07105'",Newark,4.5,spanish,$$,534
37,Laojie Hotpot,7184310026,11220,"'811 53rd St', 'Brooklyn, NY 11220'",Brooklyn,4.5,hotpot,$$,436
38,Aux Merveilleux De Fred,9174751992,10014,"'37 8th Ave', 'New York, NY 10014'",New York,4.5,desserts,$$,309
39,Sami's Kabab House,9178327165,11106,"'35-57 Crescent St', 'Astoria, NY 11106'",Astoria,4.5,afghani,$$,298
40,Mughlai Grill,2125332828,10002,"'6 Clinton St', 'New York, NY 10002'",New York,4.5,indpak,$$,276
41,Jajaja,6468835453,10002,"'162 E Broadway', 'New York, NY 10002'",New York,4.5,mexican,$$,641
42,Fiore Deli of Hoboken,2016591655,07030,"'414 Adams St', 'Hoboken, NJ 07030'",Hoboken,4.5,delis,$,486
43,Los Mariscos,2129204986,10011,"'409 W 15th St', 'New York, NY 10011'",New York,4.5,seafood,$,472
44,Sushi by Bou Times Square,,10036,"'132 W 47th St', 'New York, NY 10036'",New York,4.5,sushi,$$$,346
45,Baba's Pierogies,7182220777,11215,"'295 3rd Ave', 'Brooklyn, NY 11215'",Brooklyn,4.5,modern_european,$$,350
46,"Sal, Kris, & Charlie's Deli",7182789240,11105,"'33-12 23rd Ave', 'Astoria, NY 11105'",Astoria,4.5,delis,$,976
47,Los Tacos No.1,2122560343,10011,"'75 9th Ave', 'New York, NY 10011'",New York,4.5,tacos,$,2636
48,Los Tacos No.1,2125744696,10036,"'229 W 43rd St', 'New York, NY 10036'",New York,4.5,tacos,$,1099
49,Ruffian,,10009,"'125 E 7th St', 'New York, NY 10009'",New York,4.5,wine_bars,$$,186

In [25]:
#Save to a CSV all data retrieved
df_sort_ny.to_csv("NewYork.csv", sep=',',index=False)

# Read Into Database

In [26]:
import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy import create_engine
#engine = create_engine("mysql://USER:PASSWORD@HOST/DATABASE")
engine = create_engine("mysql://root:root123@localhost/restaurant_review")

In [27]:
df_sort_ny.dtypes
#df_sort_ny.dtypes

name             object
phone_number     object
postal_code      object
address          object
city             object
rating          float64
category         object
cost             object
review_Count      int64
dtype: object

In [28]:
#df_sort_ny.to_sql(
df_sort_ny.to_sql(
                name='yelp',
                con=engine, 
                if_exists="append"
                 )